body {
    font-family: Lemonada;
    text-align: center;
}
.menu{
    text-align:right;
    font-family: Lemonada;
}
.menu a{
    border: 2px solid#000;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(255,255,255);
    text-decoration: none;
}
.menu a:link{
    color:#00f;
}
.menu a:hover{
    color:rgb(0,0,255, 0.7)
}
.menu a:active {
    background-color: rgb(255,255,255);
    color:#f00;
}
.menu a:visited{
    background-color: rgb(255,255,255);
    color: #f00;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
}
.wrapper {
    display:inline-block;
    width: 25%;
    max-width: 100%;
    background-color: rgba(0,0,0, 0.1);
    border-radius: 15px;
    max-width: 100%;
    height: auto;
    padding: 10px, 20px;
}
.wrapper input{
    width: 60%;
    border: 2px solid #000;
    border-radius: 8px;
    font-family: Lemonada;

}
.wrapper button{
    font-family: Lemonada;
    background-color: rgba(0,0,0, 0.1);
    border: 2px solid #000;
    border-radius: 8px;
    cursor: pointer;
}
.wrapper #log{
    font-size: 25px;
    padding: 2px;
}
.wrapper button img{
    width: 30px;
    height: 30px;
    display: inline-block;
    padding-top: 10px;
}
.wrapper #gicon{
    font-size: 18px;
    padding-top: 3px;
}
.remember{
    font-size: 18px;
}
.remember input{
    height: 17px;
    width: 17px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}