body {
    font-family: Lemonada;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 22%;
}
.wrapper {
    display:inline-block;
    position: relative;
    width: 18%;
    max-width: 100%;
}
.wrapper input {
    max-width: 100%;
    width:100%;
    left: 0;
    position: absolute;
    height: 50px;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    font-size: 20px;
    font-family: Lemonada;
}
.wrapper #Add {
    position: absolute;
    border-width: 0px;
    font-size: 24px;
    font-family: Lemonada;
    background: rgba(0, 0, 0, 0);
    height: 80%;
    right: 0;
}