body {
    font-family: 'Lemonada';
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
input {
    width: 19%;
    height: 50px;
    border-radius: 8px;
    border-width: 2px;
    border-color: black;
    justify-content: space-between;
}
#Add{
    font-size: 36px;
    background: rgba(0, 0, 0, 0.3);
}